# JetBrains template
.idea
*.iml
out/

### Go template
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Dependency directories (remove the comment below to include it)
vendor/

### macOS template
.DS_Store
.AppleDouble
.LSOverride

# log
*.log
*.log*
# .exe
app
